@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Poppins:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Tutorial for now */
:root {
  --bar-width: 30px;
  --bar-height: 5px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 8px;
  --anime-time: 200ms ease-in-out;
  ---hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}
.hamburgerMenu{
  /* display: none; */
  --x-width: calc(var(---hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: 20px;
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}
.hamburgerMenu::before,
.hamburgerMenu::after,
.hamburgerMenu input{
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 100px;
  transform-origin: left center;
  transition: opacity var(--anime-time), width var(--anime-time), rotate var(--anime-time), translate var(--anime-time), background-color var(--anime-time);
}
.hamburgerMenu input{
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}
.hamburgerMenu:has(input:checked)::before{
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
  /* background-color: #fff; */
}
.hamburgerMenu:has(input:checked)::after{
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
  /* background-color: #fff; */
}
.hamburgerMenu input:checked{
  opacity: 0px;
  width: 0px; 
}
.hamburgerMenu:has(input:checked) + .navListMob{
  translate: 0;
}
/* Tutorial for now */
a {
  text-decoration: none;
  color: inherit;
}
html::-webkit-scrollbar {
  width: 20px;
}
html::-webkit-scrollbar-thumb {
  background-color: #f9e0ae;
}
html::-webkit-scrollbar-track {
  background-color: #ffffff;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 124px;
  background: #f9e0ae;
  position: relative;
}
.logo {
  width: 38px;
  height: 38px;
}
.logoText {
  font-family: Jim Nightshade;
  font-weight: 400;
  font-size: 40px;
}
.navList {
  list-style: none;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-weight: 600;
  gap: 50px;
  cursor: pointer;
}
.contactBtn {
  border: none;
  width: 150px;
  height: 39px;
  border-radius: 10px;
  background: #c24914;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  color: #ffff;
}
.hero {
  display: flex;
  width: 100%;
  margin-top: 50px;
  padding: 0 100px;
}
.heroOne {
  width: 50%;
  padding-top: 76px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.heroOne span {
  font-weight: 700;
  font-family: Poppins;
  font-size: 48px;
  line-height: 55px;
}
.heroOneText {
  color: rgba(0, 0, 0, 0.46);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
}
.startBtn {
  width: 200px;
  height: 44px;
  border-radius: 10px;
  background: #682c0e;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  color: #ffff;
  border: none;
}
.heroTwo {
  width: 50%;
}
.next {
  display: flex;
  width: 100%;
  margin-top: 235px;
  padding: 0 100px;
}
.nextImg {
  width: 50%;
}
.nextInfo {
  width: 50%;
  padding-top: 76px;
  display: flex;
  flex-direction: column;
}
.nextInfo span {
  font-size: 48px;
  font-weight: 600;
  font-family: Poppins;
}
.nextList {
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
}
.startLearning {
  display: flex;
  width: 100%;
  padding: 0 100px;
  gap: 91px;
  margin-top: 263px;
}
.startLearningText {
  font-size: 48px;
  font-weight: 600;
  font-family: Poppins;
}
.subscribe {
  margin-top: 110px;
  width: 100%;
  padding: 0 100px;
  height: 100%;
}
.fig {
  width: 100%;
  height: 140px;
  background: #f9e0ae;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.fig input {
  width: 300px;
  height: 63px;
  border: none;
  background: #ffffff;
}
.fig input::placeholder {
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
}
.fig button {
  border: none;
  width: 300px;
  height: 63px;
  background: #c24914;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
}
.joinCommunity {
  margin-top: 300px;
  position: relative;
  width: 100%;
  height: 750px;
  padding-left: 100px;
}
.joinCommunity img {
  position: absolute;
}
.pointAtGirl {
  right: 150px;
  top: 0;
}
.suitGuy {
  right: 100px;
  top: 40px;
}
.suitWoman {
  top: -150px;
  right: 43%;
}
.shirtGuy {
  left: 8%;
  top: 35%;
}
.suitLady {
  left: 30%;
  top: 55%;
}
.community {
  text-align: center;
  width: 531px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.community span {
  z-index: 3;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
}
.community p {
  z-index: 3;
}
.community button {
  z-index: 3;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  width: 273px;
  height: 54px;
  border-radius: 10px;
  background: #fc8621;
}
footer {
  font-family: Poppins;
  font-weight: 400;
  width: 100%;
  height: 442px;
  background: #f9e0ae;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
footer a {
  text-decoration: none;
  color: inherit;
}
.socials {
  padding-top: 38px;
  display: flex;
  align-items: center;
  gap: 15px;
}
#navShow {
  display: none;
}
#blogList {
  display: none;
}
.blogList {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 100px;
  width: 80px;
  padding: 10px;
  align-items: center;
  background: black;
  color: white;
  bottom: -50px;
  right: 30%;
}
.navMob {
  display: none;
}
.boy{
  display: none;
}
.menu-toggle{
  display: none;
}
@media screen and (max-width: 700px) {
  nav {
    height: 100px;
    padding: 0 15px;
    justify-content: space-between;
  }
  .boy{
    display: block;
  }
  .navListMob {
    background: #f9e0ae;
    position: absolute;
    /* height: 100%; */
    width: 200px;
    bottom: -200px;
    right: 0%;
  }
  .contactBtn {
    width: 90px;
    font-size: 14px;
  }
  /* fixes */
  .menu-toggle {
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
    display: block;
  }

  .site-nav {
    position: absolute;
    width: 50%;
    top: 100px;
    right: 0%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #F9E0AE;
    clip-path: circle(0px at top right);
    transition: clip-path 0.5s;
    /* list-style: none; */
  }
  .site-nav.open {
    /* max-height: 500px; */
    clip-path: circle(250% at top right);
    /* display: block; */
  }
  .site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .only{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 20px; 
  }
  .site-nav li {
    /* border: 1px solid #C24914; */
    height: 50px;
    display: flex;
    /* gap: 30px; */
    font-family: Poppins;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .site-nav li:hover,.site-nav li:focus{
    background: #C24914;
  }
  /* fixes */
  
  .navMob {
    list-style: none;
    gap: 15px;
    padding-top: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
  }
  .navList {
    display: none;
  }
  #blogList {
    display: none;
  }
  i {
    font-size: 30px;
  }
  ul i{
    font-size: 20px;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 15px;
    gap: 50px;
    margin-top: 10px;
  }
  #navShow {
    display: block;
  }
  .heroOne {
    width: 100%;
  }
  .heroOne span {
    font-size: 35px;
    line-height: 38px;
  }
  .heroTwo {
    width: 100%;
  }
  .heroTwo img {
    width: 100%;
  }
  .next {
    width: 100%;
    padding: 0;
    flex-direction: column-reverse;
    margin-top: 50px;
    gap: 50px;
  }
  .nextImg {
    width: 100%;
    padding: 0 15px;
  }
  .nextImg img {
    width: 100%;
  }
  .nextInfo {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .nextInfo span {
    font-size: 35px;
  }
  .nextList {
    font-size: 16px;
  }
  .startLearning {
    padding: 0 15px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 100px;
  }
  .startLearningText {
    font-size: 35px;
    text-align: center;
  }
  .yellowGirl {
    width: 100%;
  }
  .subscribe {
    padding: 0;
    width: 100%;
  }
  .joinCommunity {
    height: 250px;
    margin-top: 100px;
  }
  .community {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .community span {
    font-size: 35px;
  }
  .pointAtGirl {
    width: 100%;
    bottom: 0px;
    right: 0;
    display: none;
  }
  .suitGuy {
    display: none;
  }
  .suitLady {
    display: none;
  }
  .suitWoman {
    display: none;
  }
  .shirtGuy {
    display: none;
  }
  .subscribe {
    display: flex;
    justify-content: center;
  }
  .fig {
    gap: 10px;
    width: 95%;
  }
  .fig input {
    width: 80px;
    height: 30px;
  }
  .fig input::placeholder {
    font-size: 14px;
  }
  .fig button {
    width: 100px;
    height: 30px;
    font-size: 14px;
  }
  footer {
    flex-direction: column;
    height: 100%;
    padding-bottom: 100px;
    padding-top: 80px;
  }
}
